.top-container {
    background-image: url("images/abstract-technological-background/background-intro.jpg");
    height: 100vh;
}

 h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
    padding-top: 300px;
}

p {
    font-size: 3rem;
}


body {
    text-align: center;
}

img {
    border-radius: 50%;
    padding-top: 100px;
}

.hello-section h2 {
    padding-top: 50px;
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.hello-section h3 {
    padding-bottom: 10px; /* Adds space below each h3 */
}

hr {
    border: dotted red 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.parent {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        width: 80%;
        margin: 100px auto 0 auto;
        text-align: left;
        row-gap: 2rem;
}

.typing img {
    width: 300px; 
    height: 300px; 
    margin-top: -100px;
}

.coding h3 {
    color: #66BFBF;
    font-weight: bold;
}

.coding p {
    font-size: 22px;
}

.my-skills h2 {
    color: #66BFBF;
    font-size: 5rem;
}

.breads img {
    width: 300px; 
    height: 300px; 
    margin-top: -100px;
}



.breads-challenge h3 {
    color: #66BFBF;
    font-weight: bold;
}

.breads-challenge p {
    font-size: 22px;
}

.contact-me h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}


.bottom-container p {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
    line-height: 2;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 16px;
    color: white;
}

.birthday-message {
    text-align: center;
    font-size: 2rem;
    color: #ff4500;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

